* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(45deg, #000000, #800080); 
  width: 100%;
}

.flashing-text {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #800080, 0 0 30px #800080;
  animation: flash 1s infinite;
  margin-bottom: 20px; 
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.icons {
  display: flex;
  margin: 40px 0;
}

li {
  position: relative;
  list-style: none;
  height: 70px;
  width: 70px;
  margin: 0 10px;
  border-radius: 50%;
  background: #dde1e7;
  cursor: pointer;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

li a {
  line-height: 70px;
  font-size: 27px;
  color: #b6bbc5;
}

.first li.shadow-1 {
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.first li.shadow-1 a {
  font-size: 25px;
}

.second li.shadow-2 a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55px;
  width: 55px;
  line-height: 55px;
  border-radius: 50%;
  background: #dde1e7;
  font-size: 24px;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

li:nth-child(1).fill-color a {
  color: #4267b2;
}

li:nth-child(2).fill-color a {
  color: #1da1f2;
}

li:nth-child(3).fill-color a {
  color: #e1306c;
}

li:nth-child(4).fill-color a {
  color: #2867b2;
}

li:nth-child(5).fill-color a {
  color: #333;
}
